$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 991px,
  xlarge: 1199px,
  xxlarge: 1468px,
);

$slides-per-view-desktop: 5;
$slides-per-view-notebook: 4;
$slides-per-view-tablet: 3;
$slides-per-view-md-mobile: 2;
$slides-per-view-sm-mobile: 1;

$main-color: #fedd03;
