#slider {
  margin: 3rem auto;
  height: 48rem;
  overflow: hidden;
  @include respond-to(xlarge) {
    height: 40rem;
  }
  @include respond-to(large) {
    height: 30rem;
  }
  @include respond-to(medium) {
    height: 22rem;
  }
  @include container;
  .slider {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    .slider-wrapper {
      display: flex;
      transition: transform 0.5s ease-in-out;
      .slide {
        min-width: 100%;
        height: 48rem;
        transition: opacity 0.5s ease;
        @include respond-to(xlarge) {
          height: 40rem;
        }
        @include respond-to(large) {
          height: 30rem;
        }
        @include respond-to(medium) {
          height: 25rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: black;
      background-color: $main-color;
      border: none;
      padding: 2rem 2.5rem;
      font-size: 2rem;
      cursor: pointer;
      transition: background 0.3s;
      border-radius: 50%;
      @include respond-to(medium) {
        font-size: 1.4rem;
        padding: 1.2rem 2rem;
      }
    }
    .prev {
      left: -3rem;
      margin-left: 10px;
      @include respond-to(medium) {
        margin-left: 16px;
      }
    }
    .next {
      right: -3rem;
      margin-right: 10px;
      @include respond-to(medium) {
        margin-right: 16px;
      }
    }
  }
}

#popular-events {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem auto;
  @include respond-to(medium) {
    margin: 2rem auto;
    gap: 1rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 9rem;
    @include respond-to(small) {
      margin: 0 auto;
      font-size: 1.5rem;
    }
  }
  .swiper {
    width: 100%;
    height: 46vh;
    @include respond-to(medium) {
      height: 16rem;
    }
    @include respond-to(small) {
      height: 12rem;
    }
    .swiper-slide {
      display: flex;
      flex-direction: column;
      background: white;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      cursor: pointer;
      .text-box {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 1px;
        left: 10px;
        transform: translateY(-12px);
        opacity: 0;
        h4 {
          font-weight: 700;
          font-size: 18px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .event-info {
          display: flex;
          align-items: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          span {
            font-size: 14px;
            color: rgb(83, 81, 81);
          }
          .dot {
            font-size: 16px;
            margin: 0 4px 1px 4px;
          }
        }
      }
      &:hover {
        .text-box {
          transform: translateY(0px);
          opacity: 1;
          transition: 0.2s linear;
        }
        .img-box span {
          transform: translateY(-4rem);
        }
      }
      .img-box {
        width: 100%;
        height: 100%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
          overflow: hidden;
          transition: 0.2s linear;
          z-index: 10;
          &:hover {
            transform: translateY(-3.4rem);
          }
        }
        span {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          padding: 0.5rem 2rem;
          background-color: $main-color;
          font-size: 1.3rem;
          border-radius: 1.5rem;
          transition: 0.2s linear;
        }
      }
    }
    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: black;
      background-color: $main-color;
      border: none;
      padding: 2.5rem;
      cursor: pointer;
      transition: background 0.3s;
      border-radius: 50%;
      @include respond-to(medium) {
        color: $main-color;
        background-color: transparent;
      }
    }
  }
}
