#slider {
  margin: 3rem auto;
  height: 48rem;
  overflow: hidden;
  @include respond-to(xlarge) {
    height: 40rem;
  }
  @include respond-to(large) {
    height: 30rem;
  }
  @include respond-to(medium) {
    height: 20rem;
  }
  @include container;
  .slider {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    .slider-wrapper {
      display: flex;
      transition: transform 0.5s ease-in-out;
      .slide {
        min-width: 100%;
        height: 48rem;
        transition: opacity 0.5s ease;
        @include respond-to(xlarge) {
          height: 40rem;
        }
        @include respond-to(large) {
          height: 30rem;
        }
        @include respond-to(medium) {
          height: 20rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: black;
      background-color: $main-color;
      border: none;
      padding: 2rem 2.5rem;
      font-size: 2rem;
      cursor: pointer;
      transition: background 0.3s;
      border-radius: 50%;
      @include respond-to(medium) {
        font-size: 1.4rem;
        padding: 1.2rem 2rem;
      }
    }
    .prev {
      left: -3rem;
      margin-left: 10px;
      @include respond-to(medium) {
        margin-left: 16px;
      }
    }
    .next {
      right: -3rem;
      margin-right: 10px;
      @include respond-to(medium) {
        margin-right: 16px;
      }
    }
  }
}

#popular-events {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  height: 44vh;
  @include respond-to(medium) {
    height: 12rem;
  }
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: $main-color;
    }
  }
}
