header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  margin: 0.9rem auto;
}
header .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .header__top .header__logo img {
  width: 10%;
  border-radius: 5px;
}
header .header__top .header__icons {
  display: flex;
  align-items: start;
  gap: 1.7rem;
}
header .header__top .header__icons .header__icon i {
  font-size: 1.5rem;
  cursor: pointer;
}
header .header__top .header__icons .header__icon--favorites {
  margin: 1rem 0;
}
header .header__top .header__icons .header__profile-info {
  position: relative;
}
header .header__top .header__icons .header__profile-info .header__icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .header__top .header__icons .header__profile-info .header__icon-box .header__icon--profile {
  background-color: #fedd03;
  border-radius: 50%;
}
header .header__top .header__icons .header__profile-info .header__icon-box .header__icon--profile i {
  padding: 1rem 1.2rem;
}
header .header__top .header__icons .header__profile-info .header__icon-box .header__dropdown {
  position: absolute;
  top: 3rem;
  transition: all 0.5s;
  opacity: 0;
  width: 6rem;
  margin-top: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header .header__top .header__icons .header__profile-info .header__icon-box .header__dropdown p {
  display: flex;
  justify-content: center;
}
header .header__top .header__icons .header__profile-info .header__icon-box:hover .header__dropdown {
  top: 100%;
  opacity: 1;
  z-index: 999;
}
header .header__search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid lightgray;
  width: 35rem;
  padding: 1rem 0.6rem;
  border-radius: 2.5rem;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
header .header__search-bar input {
  border: none;
  outline: none;
  width: 88%;
  font-size: 1.2rem;
}
header .header__search-bar i {
  color: gray;
}

#slider {
  margin: 3rem auto;
  height: 75vh;
  width: 80%;
}
#slider .slider {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
#slider .slider .slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
#slider .slider .slider-wrapper .slide {
  min-width: 100%;
  transition: opacity 0.5s ease;
}
#slider .slider .slider-wrapper .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#slider .slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  background-color: #fedd03;
  border: none;
  padding: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 50%;
}
#slider .slider .prev {
  left: 0;
}
#slider .slider .next {
  right: 0;
}/*# sourceMappingURL=main.css.map */