@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("../assets/fonts/AtkinsonHyperlegibleNext-Italic.woff2") format("woff2"), url("../assets/fonts/AtkinsonHyperlegibleNext-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("../assets/fonts/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2"), url("../assets/fonts/AtkinsonHyperlegibleNext-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("../assets/fonts/AtkinsonHyperlegibleNext-Bold.woff2") format("woff2"), url("../assets/fonts/AtkinsonHyperlegibleNext-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("../assets/fonts/AtkinsonHyperlegibleNext-ExtraBold.woff2") format("woff2"), url("../assets/fonts/AtkinsonHyperlegibleNext-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Atkinson Hyperlegible Next", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.9rem auto;
  width: 1300px;
}
@media (max-width: 1468px) {
  header {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  header {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  header {
    width: 90%;
  }
}
header .header__logo {
  width: 10rem;
}
@media (max-width: 480px) {
  header .header__logo {
    width: 7rem;
  }
}
header .header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
header .header__right {
  display: flex;
  align-items: start;
  gap: 1rem;
}
@media (max-width: 480px) {
  header .header__right {
    gap: 0.5rem;
  }
}
header .header__right .icon i {
  background-color: #fedd03;
  border-radius: 50%;
  border: none;
  padding: 0.9rem 1rem;
  color: black;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .header__right .icon i {
    padding: 0.7rem;
  }
}
header .header__right .header__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 480px) {
  header .header__right .header__icons {
    gap: 0.5rem;
  }
}
header .header__right .header__icons i {
  font-size: 1.65rem;
  border-radius: 50%;
  background-color: #fedd03;
}
@media (max-width: 480px) {
  header .header__right .header__icons i {
    font-size: 1.1rem;
  }
}
header .header__right .header__icons .fa-heart {
  border: 3px solid #fedd03;
  background-color: white;
}
header .header__right .header__icons .fa-cart-shopping {
  padding: 1rem;
}
@media (max-width: 768px) {
  header .header__right .header__icons .fa-cart-shopping {
    padding: 0.83rem;
  }
}
header .header__right .header__profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .header__right .header__profile i {
  font-size: 2rem;
}
@media (max-width: 480px) {
  header .header__right .header__profile i {
    font-size: 1.5rem;
  }
}
header .header__right .header__profile .header__dropdown {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 4rem;
  transition: all 0.2s;
  width: 10rem;
  margin-top: 0.6rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (max-width: 768px) {
  header .header__right .header__profile .header__dropdown {
    width: 7rem;
    padding: 1rem;
    font-size: 1.2rem;
  }
}
header .header__right .header__profile .header__dropdown a {
  color: black;
}
header .header__right .header__profile:hover .header__dropdown {
  top: 100%;
  visibility: visible;
  z-index: 999;
}

#slider {
  margin: 3rem auto;
  width: 100%;
  overflow: hidden;
  width: 1300px;
}
@media (max-width: 768px) {
  #slider {
    height: 22rem;
  }
}
@media (max-width: 1468px) {
  #slider {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  #slider {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  #slider {
    width: 90%;
  }
}
#slider .slider {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#slider .slider .slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
#slider .slider .slider-wrapper .slide {
  min-width: 100%;
  transition: opacity 0.5s ease;
}
@media (max-width: 768px) {
  #slider .slider .slider-wrapper .slide {
    height: 25rem;
  }
}
#slider .slider .slider-wrapper .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#slider .slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  background-color: #fedd03;
  border: none;
  padding: 2rem 2.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 50%;
}
@media (max-width: 768px) {
  #slider .slider button {
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
  }
}
#slider .slider .prev {
  left: -3rem;
  margin-left: 10px;
}
@media (max-width: 768px) {
  #slider .slider .prev {
    margin-left: 16px;
  }
}
#slider .slider .next {
  right: -3rem;
  margin-right: 10px;
}
@media (max-width: 768px) {
  #slider .slider .next {
    margin-right: 16px;
  }
}

#popular-events {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem auto;
}
@media (max-width: 768px) {
  #popular-events {
    margin: 2rem auto;
    gap: 1rem;
  }
}
#popular-events h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 9rem;
}
@media (max-width: 480px) {
  #popular-events h3 {
    margin: 0 auto;
    font-size: 1.5rem;
  }
}
#popular-events .slider-container {
  width: 100%;
  height: 46vh;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  #popular-events .slider-container {
    height: 16rem;
  }
}
@media (max-width: 480px) {
  #popular-events .slider-container {
    height: 12rem;
  }
}
#popular-events .slider-container .slider-track {
  display: flex;
  gap: 1.5rem;
  transition: transform 0.3s ease;
  will-change: transform;
}
#popular-events .slider-container .slider-track .swiper-slide {
  display: flex;
  flex: 0 0 calc(100% / 5);
  flex-direction: column;
  background: white;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
}
#popular-events .slider-container .slider-track .swiper-slide .text-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1px;
  left: 10px;
  transform: translateY(-15px);
  visibility: hidden;
}
#popular-events .slider-container .slider-track .swiper-slide .text-box h4 {
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#popular-events .slider-container .slider-track .swiper-slide .text-box .event-info {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#popular-events .slider-container .slider-track .swiper-slide .text-box .event-info span {
  font-size: 14px;
  color: rgb(83, 81, 81);
}
#popular-events .slider-container .slider-track .swiper-slide .text-box .event-info .dot {
  font-size: 16px;
  margin: 0 4px 1px 4px;
}
#popular-events .slider-container .slider-track .swiper-slide:hover .text-box {
  transform: translateY(0px);
  visibility: visible;
  transition: 0.2s linear;
}
#popular-events .slider-container .slider-track .swiper-slide:hover .img-box span {
  transform: translateY(-4rem);
}
#popular-events .slider-container .slider-track .swiper-slide .img-box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
#popular-events .slider-container .slider-track .swiper-slide .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.2s linear;
  z-index: 10;
}
#popular-events .slider-container .slider-track .swiper-slide .img-box img:hover {
  transform: translateY(-3.4rem);
}
#popular-events .slider-container .slider-track .swiper-slide .img-box span {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #fedd03;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  transition: 0.2s;
}
@media (max-width: 768px) {
  #popular-events .slider-container .slider-track .swiper-slide .img-box span {
    font-size: 1.1rem;
    padding: 0.4rem 1.4rem;
  }
}
@media (max-width: 480px) {
  #popular-events .slider-container .slider-track .swiper-slide .img-box span {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
  }
}
#popular-events .slider-container .nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: black;
  background-color: #fedd03;
  border: none;
  padding: 1rem 2.2rem;
  font-size: 2.9rem;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 50%;
}
#popular-events .slider-container .nav.prev {
  left: 10px;
}
#popular-events .slider-container .nav.next {
  right: 10px;
}
@media (max-width: 768px) {
  #popular-events .slider-container .nav {
    color: #fedd03;
    background-color: transparent;
    padding: 0;
  }
}

#advertising .advertising__img {
  width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1468px) {
  #advertising .advertising__img {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  #advertising .advertising__img {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  #advertising .advertising__img {
    width: 90%;
  }
}
#advertising .advertising__img img {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 1300px;
  margin: 8rem auto 3rem;
}
@media (max-width: 1468px) {
  footer {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  footer {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  footer {
    width: 90%;
  }
}
@media (max-width: 768px) {
  footer {
    margin: 4rem auto;
  }
}
@media (max-width: 1199px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
@media (max-width: 480px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
footer .footer__logo {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
footer .footer__logo .footer__img--box {
  width: 10rem;
}
footer .footer__logo .footer__img--box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer__logo .footer__media {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
footer .footer__logo .footer__media .footer__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 17rem;
  background-color: #fedd03;
}
@media (max-width: 768px) {
  footer .footer__logo .footer__media .footer__icons {
    padding: 0.7rem;
    width: 13rem;
  }
}
footer .footer__logo .footer__media .footer__icons i {
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 768px) {
  footer .footer__logo .footer__media .footer__icons i {
    font-size: 18px;
  }
}
footer .footer__list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
footer .footer__list h4 {
  font-size: 20px;
}
footer .footer__list ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
footer .footer__list ul li a {
  color: black;
}
footer .footer__list ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #sign {
    background-image: url("../assets/images/sign-bgc.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.sign {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 57rem;
  margin: 8rem auto;
}
@media (max-width: 991px) {
  .sign {
    width: 45rem;
  }
}
@media (max-width: 768px) {
  .sign {
    width: 83%;
  }
}
@media (max-width: 480px) {
  .sign {
    width: 90%;
  }
}
.sign .sign__box {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}
.sign .sign__box .sign__image-box {
  width: 50rem;
}
@media (max-width: 991px) {
  .sign .sign__box .sign__image-box {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .sign .sign__box .sign__image-box {
    display: none;
  }
}
.sign .sign__box .sign__image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sign .sign__box .sign__form-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 3.5rem 2.4rem;
}
@media (max-width: 768px) {
  .sign .sign__box .sign__form-box {
    padding: 4rem 1.4rem;
  }
}
.sign .sign__box .sign__form-box .sign__form {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  width: 88%;
}
.sign .sign__box .sign__form-box .sign__form input {
  padding: 0.7rem 1rem;
  border-radius: 25px;
  font-size: 1.1rem;
  outline: none;
}
.sign .sign__box .sign__form-box .sign__form .password__input {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 0.1rem 0.6rem;
  border-radius: 25px;
  background-color: white;
}
.sign .sign__box .sign__form-box .sign__form .password__input input {
  border: none;
  width: 100%;
  padding: 0.7rem 0.3rem;
}
.sign .sign__box .sign__form-box .sign__form .password__input i {
  margin-top: 0.7rem;
  font-size: 1.2rem;
  padding-right: 0.5rem;
  cursor: pointer;
}
.sign .sign__box .sign__form-box .sign__form button {
  padding: 0.7rem;
  background-color: black;
  border-radius: 30px;
  border: none;
  width: 40%;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .sign .sign__box .sign__form-box .sign__form button {
    width: 47%;
  }
}
.sign .sign__box .sign__form-box .sign__form button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.sign .back {
  border: none;
  background-color: black;
  border-radius: 20px;
  color: white;
  font-size: 1.3rem;
  width: 12rem;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .sign .back {
    width: 10rem;
    padding: 0.8rem;
  }
}

@media (max-width: 768px) {
  .sign-up {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .sign-up {
    width: 90%;
  }
}
.sign-up .sign__box .sign-up__img {
  width: 25rem;
}
@media (max-width: 991px) {
  .sign-up .sign__box .sign-up__img {
    width: 30rem;
  }
}
@media (max-width: 768px) {
  .sign-up .sign__box .sign__form-box {
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
.sign-up .sign__box .sign__form-box .sign-up__form {
  gap: 0.8rem;
}
.sign-up .sign__box .sign__form-box .sign-up__form button {
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .sign-up .sign__box .sign__form-box .sign-up__form button {
    margin: 1rem auto;
  }
}
.sign-up .sign__box .sign__form-box .sign-up__form button:hover {
  color: black;
}

#events {
  margin: 3rem auto;
}
#events .events__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 1300px;
  margin: 3rem auto;
}
@media (max-width: 1468px) {
  #events .events__cards {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  #events .events__cards {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  #events .events__cards {
    width: 90%;
  }
}
@media (max-width: 991px) {
  #events .events__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media (max-width: 768px) {
  #events .events__cards {
    grid-template-columns: repeat(1, 1fr);
    width: 450px;
  }
}
@media (max-width: 480px) {
  #events .events__cards {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    row-gap: 2.3rem;
  }
}
#events .events__cards .card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
#events .events__cards .card .event__img {
  width: 100%;
  height: 25rem;
}
@media (max-width: 1199px) {
  #events .events__cards .card .event__img {
    height: 20rem;
  }
}
@media (max-width: 991px) {
  #events .events__cards .card .event__img {
    height: 25rem;
  }
}
@media (max-width: 768px) {
  #events .events__cards .card .event__img {
    height: 80%;
  }
}
@media (max-width: 768px) {
  #events .events__cards .card .event__img {
    height: 75%;
  }
}
#events .events__cards .card .event__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#events .events__cards .card .event__info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
@media (max-width: 991px) {
  #events .events__cards .card .event__info {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 480px) {
  #events .events__cards .card .event__info {
    padding: 1rem;
  }
}
#events .events__cards .card .event__info h4 {
  font-size: 20px;
}
#events .events__cards .card .event__info p {
  color: #e1ce00;
  font-style: italic;
}
#events .events__cards .card .event__info span {
  font-size: 14px;
  color: rgb(94, 92, 92);
}

#details {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 1300px;
  margin: 3rem auto;
}
@media (max-width: 1468px) {
  #details {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  #details {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  #details {
    width: 90%;
  }
}
@media (max-width: 991px) {
  #details {
    gap: 2rem;
  }
}
#details .details__img {
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  #details .details__img {
    height: 20rem;
  }
}
@media (max-width: 480px) {
  #details .details__img {
    height: 12rem;
  }
}
#details .details__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
#details .details__img .details__icons {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  display: flex;
  gap: 1rem;
}
#details .details__img .details__icons i {
  font-size: 1.4rem;
  padding: 1.1rem;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
#details .details__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 1199px) {
  #details .details__info {
    gap: 1rem;
  }
}
@media (max-width: 991px) {
  #details .details__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  #details .details__info {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
#details .details__info div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 19rem;
  height: 5rem;
}
@media (max-width: 1199px) {
  #details .details__info div {
    width: 14rem;
  }
}
@media (max-width: 991px) {
  #details .details__info div {
    width: 100%;
    height: 4rem;
  }
}
#details .details__info div p {
  font-size: 700;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
}
@media (max-width: 1199px) {
  #details .details__info div p {
    font-size: 1rem;
  }
}
#details .details__info .date,
#details .details__info .duration {
  background-color: #fedd03;
}
#details .details__description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
@media (max-width: 991px) {
  #details .details__description {
    flex-direction: column;
  }
}
#details .details__description iframe {
  border-radius: 20px;
}
@media (max-width: 991px) {
  #details .details__description iframe {
    width: 100%;
    height: 20rem;
  }
}
#details .details__description p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  width: 40rem;
}
@media (max-width: 1199px) {
  #details .details__description p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 991px) {
  #details .details__description p {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 991px) {
  #details .details__description p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

#favorites {
  width: 1300px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 1468px) {
  #favorites {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  #favorites {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  #favorites {
    width: 90%;
  }
}
@media (max-width: 480px) {
  #favorites {
    gap: 2rem;
    margin: 2rem auto;
  }
}
#favorites .favorites__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media (max-width: 1468px) {
  #favorites .favorites__cards {
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  #favorites .favorites__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  #favorites .favorites__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#favorites .favorites__cards .card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#favorites .favorites__cards .card:hover .favorites__img img {
  transform: translateY(-3.5rem);
}
#favorites .favorites__cards .card:hover .favorites__img span {
  transform: translateY(-3.5rem);
}
#favorites .favorites__cards .card:hover .favorites__info {
  display: block;
}
#favorites .favorites__cards .card .favorites__img {
  height: 30rem;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  #favorites .favorites__cards .card .favorites__img {
    height: 23rem;
  }
}
@media (max-width: 991px) {
  #favorites .favorites__cards .card .favorites__img {
    height: 18rem;
  }
}
@media (max-width: 480px) {
  #favorites .favorites__cards .card .favorites__img {
    height: 100%;
  }
}
#favorites .favorites__cards .card .favorites__img img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  transition: 0.2s linear;
  z-index: 5;
}
#favorites .favorites__cards .card .favorites__img span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0.7rem 2.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 25px;
  background-color: #fedd03;
  z-index: 10;
  transition: 0.2s linear;
}
#favorites .favorites__cards .card .favorites__info {
  position: absolute;
  display: none;
  bottom: 5px;
  left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: -1;
}
#favorites .favorites__cards .card .favorites__info h4 {
  font-size: 20px;
}
#favorites .favorites__cards .card .favorites__info .event-info {
  color: rgb(82, 82, 82);
}

.events__sort {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 480px) {
  .events__sort {
    flex-direction: column;
    gap: 0.8rem;
  }
}
.events__sort .events__search {
  position: relative;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 30px;
  width: 32rem;
}
@media (max-width: 480px) {
  .events__sort .events__search {
    width: 100%;
    padding: 0.6rem;
  }
}
.events__sort .events__search input {
  width: 100%;
  font-size: 1.1rem;
  border: none;
  outline: none;
}
.events__sort .events__search i {
  position: absolute;
  font-size: 1.1rem;
  bottom: 18px;
  right: 15px;
}
@media (max-width: 480px) {
  .events__sort .events__search i {
    bottom: 12px;
  }
}
.events__sort select {
  padding: 1rem;
  border-radius: 30px;
  width: 30rem;
  font-size: 1.1rem;
}
@media (max-width: 480px) {
  .events__sort select {
    width: 100%;
    padding: 0.6rem;
  }
}

#basket .basket {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 1300px;
  margin: 5rem auto;
}
@media (max-width: 1468px) {
  #basket .basket {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  #basket .basket {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  #basket .basket {
    width: 90%;
  }
}
@media (max-width: 768px) {
  #basket .basket {
    flex-direction: column;
    margin: 3rem auto;
  }
}
#basket .basket .tickets {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
  padding: 2rem;
}
@media (max-width: 991px) {
  #basket .basket .tickets {
    padding: 1.4rem;
  }
}
#basket .basket .tickets .tickets__cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#basket .basket .tickets .tickets__cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid grey;
}
@media (max-width: 991px) {
  #basket .basket .tickets .tickets__cards .card {
    flex-direction: column;
    gap: 1rem;
  }
}
#basket .basket .tickets .tickets__cards .card .event {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1199px) {
  #basket .basket .tickets .tickets__cards .card .event {
    gap: 0.5rem;
  }
}
@media (max-width: 991px) {
  #basket .basket .tickets .tickets__cards .card .event {
    width: 100%;
    justify-content: start;
  }
}
#basket .basket .tickets .tickets__cards .card .event .img__box {
  width: 6.5rem;
}
@media (max-width: 1199px) {
  #basket .basket .tickets .tickets__cards .card .event .img__box {
    width: 5.5rem;
  }
}
#basket .basket .tickets .tickets__cards .card .event .img__box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}
#basket .basket .tickets .tickets__cards .card .event .text__box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#basket .basket .tickets .tickets__cards .card .event .text__box p {
  font-weight: 700;
  font-size: 1.2rem;
}
#basket .basket .tickets .tickets__cards .card .event .text__box span {
  color: rgb(66, 65, 65);
}
#basket .basket .tickets .tickets__cards .card .price__box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1199px) {
  #basket .basket .tickets .tickets__cards .card .price__box {
    gap: 0.6rem;
  }
}
@media (max-width: 991px) {
  #basket .basket .tickets .tickets__cards .card .price__box {
    width: 100%;
    justify-content: end;
  }
}
#basket .basket .tickets .tickets__cards .card .price__box .quantity__box {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
#basket .basket .tickets .tickets__cards .card .price__box .quantity__box .decrease,
#basket .basket .tickets .tickets__cards .card .price__box .quantity__box .increase {
  width: 2.1rem;
  border-radius: 50%;
  border: 3px solid #fedd03;
  cursor: pointer;
}
@media (max-width: 1199px) {
  #basket .basket .tickets .tickets__cards .card .price__box .quantity__box .decrease,
  #basket .basket .tickets .tickets__cards .card .price__box .quantity__box .increase {
    border: none;
    width: 100%;
  }
}
#basket .basket .tickets .tickets__cards .card .price__box .quantity__box .decrease span,
#basket .basket .tickets .tickets__cards .card .price__box .quantity__box .increase span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
}
@media (max-width: 1199px) {
  #basket .basket .tickets .tickets__cards .card .price__box .quantity__box .decrease span,
  #basket .basket .tickets .tickets__cards .card .price__box .quantity__box .increase span {
    font-size: 1.2rem;
  }
}
#basket .basket .tickets .tickets__cards .card .price__box .quantity__box .quantity {
  font-size: 1.6rem;
  font-weight: 700;
}
@media (max-width: 1199px) {
  #basket .basket .tickets .tickets__cards .card .price__box .quantity__box .quantity {
    font-size: 1.3rem;
  }
}
#basket .basket .tickets .tickets__cards .card .price__box .price {
  padding: 1rem 1.9rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #fedd03;
}
@media (max-width: 1199px) {
  #basket .basket .tickets .tickets__cards .card .price__box .price {
    padding: 0.8rem 1.3rem;
    font-size: 1.1rem;
  }
}
#basket .basket .tickets .tickets__cards .card .price__box .delete {
  padding: 1rem 1.2rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: #fe8787;
  cursor: pointer;
}
@media (max-width: 1199px) {
  #basket .basket .tickets .tickets__cards .card .price__box .delete {
    font-size: 1.1rem;
    padding: 0.9rem 1rem;
  }
}
#basket .basket .tickets .tickets__cards .card .price__box .delete:hover {
  filter: brightness(90%);
}
#basket .basket .tickets .tickets__cards .card .admin__price-box {
  gap: 2rem;
}
#basket .basket .tickets .tickets__cards h4 {
  font-size: 1.3rem;
  margin-top: 1rem;
}
#basket .basket .users {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 2rem;
  border-left: 1px solid grey;
}
@media (max-width: 768px) {
  #basket .basket .users {
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
    border-top: 1px solid grey;
    border-left: none;
    width: 90%;
    margin: 2rem auto 0;
  }
}
#basket .basket .users h4 {
  font-size: 1.4rem;
  color: rgb(79, 79, 79);
}
#basket .basket .users form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
#basket .basket .users form input {
  background-color: transparent;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 0.7rem 1rem;
  width: 15rem;
}
@media (max-width: 768px) {
  #basket .basket .users form input {
    width: 22rem;
  }
}
@media (max-width: 480px) {
  #basket .basket .users form input {
    width: 100%;
  }
}
#basket .basket .users button {
  width: 100%;
  background-color: #fedd03;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.9rem 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  #basket .basket .users button {
    width: 9rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main #profile {
  margin: 5rem auto 2rem;
  width: 1300px;
  padding: 2.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (max-width: 1468px) {
  main #profile {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  main #profile {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  main #profile {
    width: 90%;
  }
}
@media (max-width: 768px) {
  main #profile {
    padding: 1.5rem;
  }
}
@media (max-width: 480px) {
  main #profile {
    margin: 4rem auto;
  }
}
main #profile .profile__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  cursor: pointer;
}
@media (max-width: 480px) {
  main #profile .profile__info {
    gap: 0.5rem;
  }
}
main #profile .profile__info h3 {
  font-size: 1.5rem;
  color: grey;
}
@media (max-width: 480px) {
  main #profile .profile__info h3 {
    font-size: 1.15rem;
  }
}
main #profile .profile__info .selected {
  color: black;
}
main #profile .user__box form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main #profile .user__box form .profile__inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media (max-width: 1199px) {
  main #profile .user__box form .profile__inputs {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
@media (max-width: 991px) {
  main #profile .user__box form .profile__inputs {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
@media (max-width: 768px) {
  main #profile .user__box form .profile__inputs {
    grid-template-columns: repeat(1, 1fr);
  }
}
main #profile .user__box form .profile__inputs .form__input {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
main #profile .user__box form .profile__inputs .form__input input {
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.1rem;
}
main #profile .user__box form .profile__inputs .form__input label {
  font-size: 1.1rem;
}
main #profile .user__box form button {
  width: 23rem;
  padding: 1rem;
  border: none;
  background-color: #fedd03;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 0.5rem;
  cursor: pointer;
}
@media (max-width: 480px) {
  main #profile .user__box form button {
    width: 100%;
  }
}
main #tickets {
  width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 2.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (max-width: 1468px) {
  main #tickets {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  main #tickets {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  main #tickets {
    width: 90%;
  }
}
main #tickets h3 {
  font-size: 1.5rem;
}
@media (max-width: 480px) {
  main #tickets h3 {
    font-size: 1.15rem;
  }
}
main #tickets .tickets__history {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 1468px) {
  main #tickets .tickets__history {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media (max-width: 768px) {
  main #tickets .tickets__history {
    gap: 1rem;
    margin-top: 0;
  }
}
main #tickets .tickets__history .ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (max-width: 480px) {
  main #tickets .tickets__history .ticket {
    gap: 0.6rem;
  }
}
main #tickets .tickets__history .ticket .info__box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main #tickets .tickets__history .ticket .info__box img {
  width: 8rem;
  height: 100%;
  border-radius: 20px;
}
@media (max-width: 1468px) {
  main #tickets .tickets__history .ticket .info__box img {
    width: 10rem;
  }
}
@media (max-width: 768px) {
  main #tickets .tickets__history .ticket .info__box img {
    width: 7rem;
  }
}
@media (max-width: 480px) {
  main #tickets .tickets__history .ticket .info__box img {
    width: 5rem;
  }
}
main #tickets .tickets__history .ticket .info__box .text__box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  main #tickets .tickets__history .ticket .info__box .text__box {
    font-size: 0.8rem;
  }
}
main #tickets .tickets__history .ticket .info__box .text__box p {
  font-size: 1.2rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  main #tickets .tickets__history .ticket .info__box .text__box p {
    font-size: 1rem;
  }
}
main #tickets .tickets__history .ticket .price__box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 2rem;
}
main #tickets .tickets__history .ticket .price__box span {
  font-size: 1.5rem;
  font-weight: 600;
}
main #tickets .tickets__history .ticket .price__box .price {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: #fedd03;
}

#admin {
  margin: 5rem auto;
  width: 1300px;
  padding: 2.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (max-width: 1468px) {
  #admin {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  #admin {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  #admin {
    width: 90%;
  }
}
@media (max-width: 768px) {
  #admin {
    padding: 1.5rem;
  }
}
@media (max-width: 480px) {
  #admin {
    margin: 4rem auto;
  }
}
#admin form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#admin form .admin__inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media (max-width: 1199px) {
  #admin form .admin__inputs {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
@media (max-width: 991px) {
  #admin form .admin__inputs {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
@media (max-width: 768px) {
  #admin form .admin__inputs {
    grid-template-columns: repeat(1, 1fr);
  }
}
#admin form .admin__inputs .form__input {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
#admin form .admin__inputs .form__input input {
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.1rem;
}
#admin form .admin__inputs .form__input label {
  font-size: 1.1rem;
}
#admin form button {
  width: 23rem;
  padding: 1rem;
  border: none;
  background-color: #fedd03;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 0.5rem;
  cursor: pointer;
}
@media (max-width: 480px) {
  #admin form button {
    width: 100%;
  }
}

#admin__users {
  width: 1300px;
  margin: 5rem auto;
}
@media (max-width: 1468px) {
  #admin__users {
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  #admin__users {
    width: 910px;
  }
}
@media (max-width: 1199px) {
  #admin__users {
    width: 90%;
  }
}
#admin__users tbody .delete,
#admin__users tbody .edit {
  cursor: pointer;
}
#admin__users .add__btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3rem auto;
}
#admin__users .add__btn button {
  font-size: 1.2rem;
  padding: 0.8rem;
  width: 10rem;
  border: 1px solid #fedd03;
  border-radius: 10px;
  transition: 0.2s linear;
}
#admin__users .add__btn button:hover {
  background-color: #fedd03;
  color: white;
}
#admin__users .modal {
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  background-color: white;
  padding: 1.3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
#admin__users .modal h3 {
  font-size: 1.7rem;
  font-weight: 700;
}
#admin__users .modal .user__inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#admin__users .modal .user__inputs input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  width: 90%;
}
#admin__users .modal .edit__buttons {
  display: flex;
  gap: 1rem;
  margin-top: 0.6rem;
}
#admin__users .modal .edit__buttons .btn {
  color: white;
  font-size: 1.4rem;
  padding: 0.4rem;
  width: 8rem;
  transition: 0.4s linear;
  border-radius: 5px;
}
#admin__users .modal .edit__buttons .update-btn {
  background-color: #fedd03;
}
#admin__users .modal .edit__buttons .update-btn:hover {
  filter: brightness(90%);
}
#admin__users .modal .edit__buttons .cancel-btn {
  background-color: rgb(255, 96, 96);
}
#admin__users .modal .edit__buttons .cancel-btn:hover {
  filter: brightness(90%);
}
#admin__users .hidden {
  display: none;
}
#admin__users .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#admin__events {
  width: 80%;
  margin: 4rem auto;
}
#admin__events thead .name {
  width: 30rem;
}
#admin__events tbody .name-box {
  width: 28.5rem;
}
#admin__events tbody .img-box {
  width: 5rem;
  height: 5rem;
  border-radius: 4px;
  overflow: hidden;
}
#admin__events tbody .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#admin__events tbody .icons-box i {
  font-size: 1.3rem;
  cursor: pointer;
}
#admin__events tbody .icons-box .edit {
  color: #fedd03;
}
#admin__events tbody .icons-box .delete {
  color: red;
}
#admin__events .add__btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3rem auto;
}
#admin__events .add__btn button {
  font-size: 1.2rem;
  padding: 0.8rem;
  width: 10rem;
  border: 1px solid #fedd03;
  border-radius: 10px;
  transition: 0.2s linear;
}
#admin__events .add__btn button:hover {
  background-color: #fedd03;
  color: white;
}
#admin__events .modal {
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
#admin__events .modal h3 {
  font-size: 1.7rem;
  font-weight: 700;
}
#admin__events .modal .user__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9rem;
}
#admin__events .modal .user__inputs input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 25rem;
}
#admin__events .modal .edit__buttons {
  display: flex;
  gap: 1rem;
  margin: 0.6rem auto;
}
#admin__events .modal .edit__buttons .btn {
  color: white;
  font-size: 1.4rem;
  padding: 0.4rem;
  width: 8rem;
  transition: 0.4s linear;
  border-radius: 5px;
}
#admin__events .modal .edit__buttons .update-btn {
  background-color: #fedd03;
}
#admin__events .modal .edit__buttons .update-btn:hover {
  filter: brightness(90%);
}
#admin__events .modal .edit__buttons .cancel-btn {
  background-color: rgb(255, 96, 96);
}
#admin__events .modal .edit__buttons .cancel-btn:hover {
  filter: brightness(90%);
}
#admin__events .hidden {
  display: none;
}
#admin__events .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}/*# sourceMappingURL=main.css.map */